@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>AcccessToken:</h2>
<p>@ViewBag.AcccessToken</p>

<h2>IdToken:</h2>
<p>@ViewBag.IdToken</p>

<h2>RefreshToken:</h2>
<p>@ViewBag.RefreshToken</p>